<div class="article">
  <div class="article-info">
    <h3><%= link_to "#{track.artist} - #{track.title}", "#" %></h3>
    <% track.genres.each do |genre| %>
      <%= link_to genre.name, "#" %>
    <% end %>
  </div>
  <div class="player">
    <%= render 'shared/sc_embed', track: track %>
  </div>
  <div class="description">
    <p><%= track.description %></p>
    <p>いいいいいいいいいいいいいいいいいいいいいいいいいいいいいいい</p>
  </div>
</div>
