<div id="tracks-feed">
  <div id="articles">
  </div>
  <div id="show-more">
    <p>* show more *</p>
  </div>
</div>
<%= form_with(url: tracks_path, id: "get-tracks", method: :get) do |f| %>
  <%= hidden_field :tracks, :page, value: 1 %>
<% end %>
