<h1 class="page-header">Kawaii Dance Music Daisuki Ojisan's Playlist</h1>
<div id="home-feed">
  <div id="articles">
  </div>
  <div id="show-more">
    <p>* show more *</p>
  </div>
</div>
<%= form_with(url: tracks_path, id: "get-tracks", method: :get) do |f| %>
  <%= hidden_field :tracks, :page, value: 1 %>
<% end %>
<script>
  var page = 1;
  window.addEventListener('load', function(){
    Rails.fire($("#get-tracks")[0], 'submit')
  });
  $("#show-more").on('click', function(){
    page += 1;
    $("#tracks_page").value = page;
    Rails.fire($("#get-tracks")[0], 'submit')
  });
</script>
