<span class="genre">
  <%= link_to genre.name, admin_genre_path(genre.id) %>
  <%=
    link_to "x", admin_track_genre_path(track, genre), method: :delete,
    data: { confirm: "delete genre #{genre.name}?" }
  %>
</span>
