<h1>Genre <%= @genre.name %></h1>
<h3>Tracks</h3>
<div class="tracks-list">
  <%= render partial: 'admin/tracks/track_card', collection: @tracks, as: "track" %>
</div>
<%= paginate @tracks %>
<div class="editor-group">
  <%= link_to "delete this genre", admin_genre_path(@genre), method: :delete,
    data: { confirm: "delete genre #{@genre.name}?" }
  %>
</div>
