<h1>Tag <%= @tag.name %></h1>
<h3>Tracks</h3>
<div class="tracks-list">
  <%= render partial: 'admin/tracks/track_card', collection: @tracks, as: "track" %>
</div>
<%= paginate @tracks %>
<div class="editor-group">
  <%= link_to "delete this tag", admin_tag_path(@tag), method: :delete,
    data: { confirm: "delete tag #{@tag.name}?" }
  %>
</div>
