<h1>Tracks</h1>
<%= form_tag import_admin_tracks_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "import" %>
<% end %>
<div class="tracks-list">
  <ul>
    <% @tracks.each do |track| %>
      <li>
        <%= link_to "#{track.artist} - #{track.title}", track.url %>
      </li>
    <% end %>
  </ul>
</div>
