/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body::after {
  height: 100%;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  content: "";
  background: -moz-linear-gradient(top, #CCCCFF 0%,#FF99CC 100%);/*古いFireFox向け*/
  background: -webkit-linear-gradient(top, #CCCCFF 0%,#FF99CC 100%);/*古いSafari・Chrome向け*/
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#CCCCFF', endColorstr='#FF99CC',GradientType=0 );/*IE9以下への対応*/
  background: linear-gradient(to bottom, #CCCCFF 0%, #FF99CC 100%);/*正規のプロパティ*/
  z-index: -1;
}

.wrapper {
  margin: 20px;
}
