#tracks-feed {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#articles {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#show-more {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 10px;
  width: 100%;
  p {
    color: #605560;
    font-size: 150%;
    border-bottom: dashed 2px #605560;
  }
}

.article {
  background-color: rgba(255,255,255,0.5);
  border-radius: 10px;
  box-shadow: 4px 4px 25px 4px rgba(130,100,120,0.5);
  width: 100%;
  box-sizing: border-box;
  max-width: 600px;
  padding: 14px;
  margin-top: 14px;
  a {
    color: #605560;
    font-size: 120%;
  }

  a:hover {
    text-decoration: underline;
  }
}

.description {
  margin-top: 10px;
}

.player {
  margin-top: 10px;
  height: 300px;
  box-sizing: border-box;
  position:relative;
  overflow:hidden;
  border-radius: 5px;
}

@media screen and (max-width: 640px) {
  .article {
    padding: 8px;
    margin-top: 8px;

    a {
      font-size: 100%;
    }
  }

  .description {
    margin-top: 8px;
  }

  .player {
    margin-top: 8px;
    height: 150px;
  }

  #show-more {
    margin-top: 8px;
    margin-bottom: 8px;
  }
}
